@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #1A1A2E;
  --color-sidebar: #282A36;
  --color-primary: #4A90E2;
  --color-text: #FFFFFF;
  --color-subtext: #B0B3BC;
  --color-Shadow: #3C7DCF;
  --color-hover: #2763ad;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho de la barra de desplazamiento */
  height: 6px;
  /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  /* Color del "pulgar" */
  border-radius: 6px;
  /* Bordes redondeados */
}

::-webkit-scrollbar-track {
  background-color: var(--color-sidebar);
  /* Color del fondo de la barra */
  border-radius: 6px;
  /* Bordes redondeados */
}

/* Animaciones */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 140, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 255, 140, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 140, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fade 0.5s ease;
}